form {
    text-align: center;
    font-family: "Urbanist", serif;
    font-weight: bold;
    color: white;
    border: none;
    margin: 20px;
    background-size: cover;
    background-repeat: no-repeat;
}
.foto-contacto {
    width: 150px;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
  }
  
  .info-bloque {
    font-family: "Urbanist", sans-serif;
  }
/* responsive */

@media (min-width: 320px) {
    form{
        font-size: 12px;
        padding: 50px;
        background-image: url(https://cdn.myportfolio.com/bcec0e4b-ce6d-4a57-93ef-ebc0ff963613/d62d6359-6e7a-4d9b-8608-9cd889c48564_rw_1920.jpg?h=0f223000ee4c4afed1b0f0769e08c9b8);
        }  
    h2{
            font-family: "Archivo Black", sans-serif;
            font-size: 24px;
        }
    }

@media (min-width: 768px){
    form{
        font-size: 25px;
        padding: 250px;
        background-image: url(https://cdn.myportfolio.com/bcec0e4b-ce6d-4a57-93ef-ebc0ff963613/388168fe-63b9-4c27-b23d-214bad5b0e5b_rw_1920.jpg?h=13214c6a366159f595d559783b5ac9a8);
        }

    h2{
        font-family: "Archivo Black", sans-serif;
        font-size: 50px;
        }
}

@media (min-width: 1024px){
    form{
        font-size: 25px;
        padding: 150px;
        background-image: url(https://cdn.myportfolio.com/bcec0e4b-ce6d-4a57-93ef-ebc0ff963613/388168fe-63b9-4c27-b23d-214bad5b0e5b_rw_1920.jpg?h=13214c6a366159f595d559783b5ac9a8);
        }
}