* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }
/* navBar */
.titulo{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.navbar .container-fluid {
    display: flex;
    justify-content: space-between; 
    align-items: baseline;
}
.navbar-collapse {
    display: flex;
    justify-content: space-between; 
    width: 100%; 
}
.nav-item a{
    font-family: "Saira Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: black;
}
/* main */
.div_fotos{
    margin: 100px;
}
/* footer */
.palabra_footer{
    color: black;
    font-family: "Urbanist", serif;
    font-weight: bold;
}
/* responsive */
@media (min-width: 320px){
    .titulo{
        font-size: 20px;
    }
    .nav-item a{
        font-size: 19px;
    }
}
@media (min-width: 768px) {
    .titulo{
        font-size: 100px;
    }
    .nav-item a{
        font-size: 25px;
    }
}
@media (min-width: 1024px){
    .titulo{
        font-size: 120px;
    }
    .nav-item a{
        font-size: 25px;
    }
}