.card-title{
    font-family: "DM Sans", serif;
    text-align: center;
    font-weight: bold;
}
.card-text{
    font-family: "DM Sans", serif;
    text-align: center;
    font-weight: bold;
}
.card-body a{
    text-decoration: none;
    color: black;
}
.card-body a:hover{
    color: white;
}
.card:hover{
    background-color: black; 
    color: white; 
}
.card:hover .card-title,
.card:hover .card-text,
.card:hover .card-body a {
    color: white; 
}

/* responsive */
@media (min-width: 768px) {
    .texto{
        transform: translate(-8px, 200px);
    }
}
